@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  ::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: var(--lightestgrey); 
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 5px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
  
  * {
    @apply m-0 p-0 box-border text-base outline-purple/30 duration-100;
  }

  html {
    @apply overflow-x-hidden;
  }

  body {
    @apply font-normal text-black dark:bg-[#121212];
  }

  i {
    @apply mt-0.5;
  }

  section {
    @apply py-4 px-[5vw] md:px-[6vw] lg:px-[8vw];
  }

  ::selection {
    @apply bg-purple/30;
  }

  img {
    @apply w-full h-full object-cover;
  }

  .navbar {
    @apply z-10 sticky top-0 flex items-center gap-12 w-full px-[5vw] py-5 h-[80px] border-b border-grey bg-white;
  }

  .h-cover {
    @apply min-h-[calc(100vh-80px)];
  }

  .center {
    @apply block mx-auto;
  }

  .btn-dark {
    @apply whitespace-nowrap bg-black text-white rounded-full py-3 px-6 md:text-xl text-base capitalize hover:bg-opacity-80;
  }

  .btn-light {
    @apply btn-dark bg-grey text-black dark:text-white;
  }

  .input-box {
    @apply w-[100%] rounded-md p-4 bg-grey dark:bg-[#343434] pl-12 border border-grey dark:border-[#343434] focus:bg-transparent placeholder:text-black dark:placeholder:text-grey dark:text-white;
  }

  .input-error-box {
    @apply w-[100%] rounded-md p-4 bg-red/25 pl-12 border border-red focus:bg-red/25 focus:border-red placeholder:text-black dark:placeholder:text-grey outline-none dark:text-white;
  }

  input:disabled,
  input:disabled ~ .input-icon {
    @apply opacity-50;
  }

  .input-icon {
    @apply absolute left-4 top-1/2 -translate-y-1/2 dark:text-white;
  }
  .password-icon {
    @apply absolute right-4 top-1/2 -translate-y-1/2 cursor-pointer dark:text-white;
  }

  .link {
    @apply text-dark-grey dark:text-white dark:hover:text-black hover:text-black dark:hover:bg-grey hover:bg-grey p-3 px-4 block opacity-75;
  }

  .hide {
    @apply opacity-0 pointer-events-none duration-100;
  }

  .show {
    @apply opacity-100 pointer-events-auto;
  }

  .sidebar-link {
    @apply flex gap-4 items-center py-5 text-dark-grey dark:text-white hover:text-black;
  }

  .sidebar-link.active {
    @apply text-black border-r-2 dark:border-red border-black pl-6 bg-grey -ml-6 md:rounded-tl-lg md:rounded-bl-lg max-md:border-none rounded-lg md:rounded-r-none;
  }

  #textEditor h2,
  h2 {
    @apply text-3xl leading-normal font-bold max-md:text-3xl max-md:leading-snug !important;
  }

  #textEditor h3,
  h3 {
    @apply text-2xl leading-loose max-md:text-2xl max-md:leading-normal !important;
  }

  #textEditor *,
  .blog-page-content * {
    @apply text-xl leading-10 md:text-2xl;
  }

  #textEditor a,
  .blog-page-content a {
    @apply text-purple underline hover:opacity-50;
  }

  .tag {
    @apply p-3 bg-grey dark:text-black rounded-full px-6 capitalize;
  }

  .blog-title {
    @apply text-xl lg:text-2xl font-medium leading-7 line-clamp-3 sm:line-clamp-2;
  }

  .blog-index {
    @apply text-4xl sm:text-3xl lg:text-5xl font-bold text-grey leading-none;
  }
}

.ce-block__content,
.ce-toolbar__content {
  max-width: 900px;
}

.cdx-settings-button[data-tune="withBorder"],
.cdx-settings-button[data-tune="withBackground"],
.cdx-settings-button[data-tune="stretched"] {
  display: none;
}
